@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(12, 26, 20);
}

.skill_text {
    transition: opacity .4s;
}
